/* Fonts */

@font-face {
    font-family: 'bold';
    src: url('/fonts/bold.otf') format('opentype');
}

@font-face {
    font-family: 'light';
    src: url('/fonts/light.otf') format('opentype');
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0rem;
    box-sizing: border-box;
    background-color: #eadfcd;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Header-Nav */

nav {
    /* conferir */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2.5rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

/* Logo */

.logo img {
    width: 90%;
}

/* Menu */

.menu ul {
    display: flex;
    list-style: none;
}

.menu li:not(:last-child) {
    margin-right: 1rem;
}

.menu a {
    font-family: 'light';
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.menu a:hover {
    color: #ec3c20;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding: 0rem 2rem;
}

.content {
    width: 100%;
    max-width: 700px;
    text-align: left;
}

/* ------------------------------------------------ */
/* Main */

/* A BOWL OF LOVE FROM JAPANESE CUISINE FOR YOU */
#first__title {
    font-family: 'bold';
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2rem 0rem 0rem;
}

/* RAMEN */
#ramen__title {
    font-family: 'bold';
    color: #ec3c20;
    font-size: 5.2rem;
    height: 90px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

/* ラーメン */
#jp__title {
    color: #ec3c20;
    font-size: 2.7rem;
    text-align: right;
    padding-right: 3%;
}

/* Texto abaixo -> ラーメン */
#main__text {
    text-align: justify;
    font-family: 'light';
    font-size: 1.2rem;
    padding: 0.3rem;
}

/* ------------------------------------------------ */
/* Imagem */
.main__img {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.main__img img {
    width: 75%;
    padding: 6%;
}

/* ------------------------------------------------ */

#btn__order {
    font-family: 'light';
    background-color: #ec3c20;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    text-decoration: none;

}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.social__media {
    display: flex;
    justify-content: center;
    padding: 0.6rem;
    background-color: #ec3c20;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.social__media ul {
    display: flex;
    width: fit-content;
}

.social__media ul li {
    list-style: none;
}

.social__media ul li a {
    color: white;
    font-weight: bolder;
    font-family: 'light';
    text-decoration: none;
    padding: 0.3rem;
    list-style: none;
    background-color: #ec3c20;
}

/*                                                                                    
 __  __ _____ ____ ___    _       ___  _   _ _____ ____  ___ _____ ____    _  ___ ____  _  _   
|  \/  | ____|  _ |_ _|  / \     / _ \| | | | ____|  _ \|_ _| ____/ ___|  / |/ _ |___ \| || |  
| |\/| |  _| | | | | |  / _ \   | | | | | | |  _| | |_) || ||  _| \___ \  | | | | |__) | || |_ 
| |  | | |___| |_| | | / ___ \  | |_| | |_| | |___|  _ < | || |___ ___) | | | |_| / __/|__   _|
|_|  |_|_____|____|___/_/   \_\  \__\_\\___/|_____|_| \_|___|_____|____/  |_|\___|_____|  |_|  
                                                                                               
 */

@media (min-width: 1024px) {

    .container {
        flex-wrap: nowrap;
        justify-content: left;
        position: relative;
    }

    .content {
        text-align: left;
    }

    /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    /*Espaço na direita dos elementos da navbar*/
    .menu {
        padding-right: 1rem;
    }

    /*Espaço entre elementos da navbar*/
    .menu a {
        padding: 1rem;
    }

    /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    #first__title {

        font-size: 3rem;
        max-width: 38rem;
        padding: 0;
    }

    #first__title span {
        color: #ec3c20;
    }

    /* RAMEN OCULTAR */
    #ramen__title {
        display: none;

    }


    /* ラーメン */
    #jp__title {
        font-size: 3.9rem;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 2rem;
        padding-top: 4rem;

    }

    /* Texto abaixo -> ラーメン */
    #main__text {
        font-size: 20px;
        padding-bottom: 4rem;
    }

    /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    .main__img {
        padding: 2rem;
        align-items: center;
    }

    .main__img img {
        width: 40vw;
        padding-right: 3rem;
    }


    /* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

    .social__media {
        justify-content: left;
        padding: 1.5rem;
        background-color: transparent;
    }

    .social__media ul li a {
        color: #ec3c20;
        padding: 1.5rem;
        background-color: transparent;
    }
}

/*                                                                                                                                                                                              
 __  __ _____ ____ ___    _       ___  _   _ _____ ____  ___ _____ ____    _  ___ ____   ___   __  __  _  ___   ___   ___  
|  \/  | ____|  _ |_ _|  / \     / _ \| | | | ____|  _ \|_ _| ____/ ___|  / |/ _ |___ \ / _ \  \ \/ / / |/ _ \ ( _ ) / _ \ 
| |\/| |  _| | | | | |  / _ \   | | | | | | |  _| | |_) || ||  _| \___ \  | | (_) |__) | | | |  \  /  | | | | |/ _ \| | | |
| |  | | |___| |_| | | / ___ \  | |_| | |_| | |___|  _ < | || |___ ___) | | |\__, / __/| |_| |  /  \  | | |_| | (_) | |_| |
|_|  |_|_____|____|___/_/   \_\  \__\_\\___/|_____|_| \_|___|_____|____/  |_|  /_|_____|\___/  /_/\_\ |_|\___/ \___/ \___/ 
                                                                                                                            
 */

@media (min-width: 1920px) {
    * {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .container {
        display: flex;
        flex-direction: row;
        padding-right: 0;
        padding-left: 3rem;
    }


    #jp__title {
        font-size: 5rem;

    }

    #first__title {
        font-size: 3.4rem;
        max-width: 70rem;
        padding: 0;
    }

    #first__title span {
        padding: 0;
    }

    .main__img {
        padding-left: 20rem;
    }

    .main__img img {
        width: 30vw;
    }
}